<article class="post">
  <div class="post-text">
    <a href="/post/{{post.id}}">{{text}}</a>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    |  Posted by {{user.username}} on {{format_date created_at}}
  </div>
</article>

{{!-- <ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="text">
        <a href="/post/{{post.id}}">{{post.text}}</a>
      </div>
      <div class="meta">
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol> --}}